[Desktop Entry]
Encoding=UTF-8
Name=CompCoin
Comment=CompCoin P2P Cryptocurrency
Comment[fr]=CompCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CompCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/CompCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/CompCoin;
Categories=Office;
